.book {
  background-image: linear-gradient(
      105deg,
      rgba($color-white, 0.9) 0%,
      rgba($color-white, 0.9) 50%,
      transparent 50%
    ),
    url(../img/nat-10.jpg);
  background-size: cover;

  @include respond(tab-land) {
    background-image: linear-gradient(
        105deg,
        rgba($color-white, 0.9) 0%,
        rgba($color-white, 0.9) 60%,
        transparent 60%
      ),
      url(../img/nat-10.jpg);
    margin: 0 2rem;
  }

  @include respond(tab-port) {
    background-image: linear-gradient(
        105deg,
        rgba($color-white, 0.9) 0%,
        rgba($color-white, 0.9) 100%
      ),
      url(../img/nat-10.jpg);
    width: 70%;
    margin: 0 auto;
  }

  &__form {
    width: 50%;
    padding: 6rem;
    @include respond(tab-land) {
      width: 60%;
      padding: 6rem;
    }
    @include respond(tab-port) {
      width: 90%;
      margin: 0 auto;
    }

    @include respond(phone) {
      width: 100%;
      margin: 0 auto;
    }
  }
}
